
*{
    margin: 0;
    padding: 0;
    list-style: none;
    color: aliceblue;
}

header{
    width: 100%;
    height: 150px;
    background: #063248;
    position: relative;
    
    
}
header li a {
    
    text-decoration: none;
}
.top-header{
    height: 38px;
    border: 1px solid #298EA6 ;
    border-radius:6px;
    width: 90%;
    
    margin-left: auto;
    margin-right: auto;
    top: 14px;
position: relative;
   
   
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    font-family: 'Urbanist', sans-serif;
font-weight: 500;
font-size: 18px;

    line-height: 21.6px;
    
}
.container li:nth-child(1) {
    position: relative;
 right: 20%;
}
.container li:nth-child(5) {
    position: relative;
 left: 20%;
}
.buttom-header{
    display: flex;
    position: relative;
    top: 38px;
    width: 90%;
    
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}
.logo{
    position: relative;
    top: 5px;
}
.nav-bar-list{
    display: flex;
    width:364px;
    height: 22px;
    position: relative;
    top: 12px;
    font-family: 'Urbanist', sans-serif;
font-weight: 500;
font-size: 18px;
    line-height: 21.6px;
    justify-content: space-between;
    position: relative;
    left: 56%;
    
}

button {
    appearance: none;
    background-color: #C3E7FA;
    width: 145px;
    height: 50px;

    border-radius: 8px;
    box-sizing: border-box;
    color: #063248;
    cursor: pointer;
    display: inline-block;
    font-family: 'Urbanist', sans-serif;

    
    font-size: 18px;
    font-weight: 700;
    line-height: 21.6px;
    list-style: none;
    padding: 14px, 24px, 14px, 24px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
   }
   
   button:hover {
    background-color: #F3F4F6;
    text-decoration: none;
    transition-duration: 0.1s;
   }
   
   button:disabled {
    background-color: #FAFBFC;
    border-color: rgba(27, 31, 35, 0.15);
    color: #959DA5;
    cursor: default;
   }
   
   button:active {
    background-color: #EDEFF2;
    box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
    transition: none 0s;
   }
   
   button:focus {
    outline: 1px transparent;
   }
   
   button:before {
    display: none;
   }
   
   button:-webkit-details-marker {
    display: none;
   }
   
   .text-container{
    margin-top: 2px;
    text-align: center;
}
.text-container li:nth-child(1){
    font-family: 'Urbanist', sans-serif;
    font-weight: 700;
    font-size: 38px;
    line-height: 57px;
    color: #063248;
    margin-bottom: 9px;
}
.text-container li:nth-child(2){
    font-family: 'Urbanist', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #4C606E;
}


.our-blogs{
    margin-left: auto;
    margin-right: auto;
 
}


.bg-home{
  
   
   background-image: url('./images/bg-home.png') ;
  
}
 
.cards{
    margin-top: 64px;
    display: flex;
   
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    width: 90%
    



}
.card {
    width: 360px;
    height: 560px;
    background: #E3F1F4;
    padding:  19px 30px ;
    border-radius: 10px;
    
  }
  .card-image {
    background:url(./images/card-image.jpeg)  center/cover ;
    width: 338px;
    height: 239px;
    border-radius: 12px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .card-list-heading li:nth-child(1) {
    font-family: 'Urbanist', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color:#4C606E;
   
    margin: 32px 28px 2px;

  }
  .card-list-heading li:nth-child(2){
    font-family: 'Urbanist', sans-serif;
    font-weight: 600;
    size: 20px;
    color: #063248;
    line-height: 30px;
    
    margin: 0px 28px 0px;
  }
  .card-list-heading li:nth-child(3){
    font-family: 'Urbanist', sans-serif;
    
    font-weight: 500;
    size: 14px;
    color: #4C606E;
    line-height: 21px;
    margin: 20px 28px 20px;
    width: 345px;
  }
  .sub-container {
    width: 320px;
    padding-top: 10px;
   border: 1px solid #C3E7FA;
   border-radius: 10px;
    padding: 16px ;
    margin-left: 28px;
  }
  .doctor-image{
    width: 50px;
    height: 50px;
    border-radius: 6px;
    background: url(./images/doctor-image.png) center/cover;
  }
  .doctor-name{
    width: 244px;
    height: 24px;
    position: relative;
    float: right;
    top: -44px;
    right: 18px;

   color: #063248;
   font-weight: 600;
   font-family: 'Urbanist', sans-serif;
   font-size: 16px;
   line-height: 24px;
  }
.time-reading{

    width: 244px;
  height: 21px;
  position: relative;
  float: right;
  right: 18px;
  top: -45px;
  color: #4C606E;
   font-weight: 500;
   font-family: 'Urbanist', sans-serif;
   font-size: 14px;
   line-height: 21px;
}
.view-all{
    background-color: white;
    border: 1px solid #298EA6;
    padding:  12px, 20px, 12px, 20px;
    border-radius: 8px;
    width: 172px;
    height: 46px;
    color: #298EA6;
    font-family: 'Urbanist', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 21.6px;
    display: block;
    margin: 0 auto; 
    margin-top: 64px;

}
.Quizzie-heading{
    margin-top: 86px;
    display: flex;
    font-size: 36px;
    line-height: 50.4px;
    font-family: 'Urbanist', sans-serif;
    font-weight: 700;
    color: #063248;
    letter-spacing: 2%;
   
}
.Quizzie-card{
    display: flex;
   margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
   
    justify-content: space-between;
    width: 90%
    
}
.first-Quizzie-card{
    width: 410px;
    height: 240px;
    background-color: #E3F1F4;
    border-radius: 16px;
    padding-left: 24px;
    padding-right: 24px;
}
.Quizzie-list li:nth-child(1){
    font-size: 24px;
    line-height: 32px;
    font-family: 'Urbanist', sans-serif;
    font-weight: 600;
    color: #063248;
    margin-top: 16px;
    
    
}
.Quizzie-list li:nth-child(2){
    font-size: 16px;
    line-height: 24px;
    font-family: 'Urbanist', sans-serif;
    font-weight: 400;
    color: #4C606E;
    margin-top: 16px;
   
    
}
.take-quiz{
width: 147px;
height: 43;

background-color: #063248;
border: 1px solid #063248;
padding:  12px, 20px, 12px, 20px;
border-radius: 8px;

color:white;
font-family: 'Urbanist', sans-serif;
font-weight: 600;
font-size: 16px;
line-height: 19.2px;
margin-top: 32px;



}
.how-it-works{
    
    margin-top: 86px;
    margin-left: auto;
    margin-right: auto;
   
    
}
.how-it-works-heading li:nth-child(1) {
    text-align: center;
    color:#063248;
    font-family: 'Urbanist', sans-serif;
font-weight: 700;
font-size: 38px;
line-height: 57px;

}
.how-it-works-heading li:nth-child(2) {
    text-align: center;
    margin-top: 6px;
    width: 700px;
    color:#4C606E;
    font-family: 'Urbanist', sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 24px;
margin-left: auto;
    margin-right: auto;
}
.how-it-works-sections{
    display: grid;
    margin-top: 64px;
    place-items: center;
    position: relative; 
    
    
}
.vector{
    position: absolute; /* Position the SVG absolutely */
    top: 50; /* Adjust the top position */
     /* Adjust the left position */
    z-index: 2;
}
/* .first{

    display: flex;
   
    width: 90%;
    position: relative; /* Ensure it's a positioning context */
    /* z-index: 1; */
/*} /**/

.list li:nth-child(1){
    color:#063248;
    font-family: 'Urbanist', sans-serif;
font-weight: 700;
font-size: 38px;
line-height: 57px;
margin-bottom: 6px;

}
.image-how-it-works{
    background: url(https://s3-alpha-sig.figma.com/img/32a8/cc36/2da77c76988eacb2a180a508619cfd0b?Expires=1714348800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=nlxK1BlQvIeJrrQfAZ-bq3R~j6ZJjLqfuwU4xtj5K8q0k~qxvQGpd2r4K~FNJbjtAg7Cx0fuLsMV6etvEG8S-5WA-gWt9u7bnNEKKSgSU2Nn-ibtK8I-kkj~HJpO2oQvShyCLDJSNyMJag7gTKdacM4J7YC1dMClZNnUB9WAW4yUq-J6wiKHWpB27qplljgkx7QgUBETzMwe9~cRE8vRjN792zv3rIUToFZxDix8OAHj92zXRsGD8sO~znQMJhyXV3fG4tLvXLWSiM~qFqQr0Xi~5y2BUlMXoyjmocnl3PriCX8tj9wboJi581VVWami3ySHG0qs0udWqIMoiKVlrQ__) center/cover;
    width: 400px;
    height: 331px;
    border-radius: 24px;
  
}
.list li:nth-child(2){
    color:#4C606E;
    font-family: 'Urbanist', sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 24px;


}

.third{
    margin-top: 48px;
}
.second-image{
    background: url(https://s3-alpha-sig.figma.com/img/a6ca/f0ac/bba58eb230cf7faec076098bd08da49c?Expires=1714348800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=F9dgtUO7dN5oFVc0OUl3ERNjmGmVjcDnSCoFMW~vIdlAU0HtbhZFnboOX1S0Yi3CLDI8c2MCUwtOgBzgDtUPMw7EwdZLFYMZuaPxvW-MYzkbwHLI8IkfvErz7be-KkTSWyf3C1H~8DOhSweqEncrhvdQQ2tJEsq0-XVW93TJjJso~pc7m1jjAjXeYVh0pvEVrkenAgbO~Hiup0PS5D0~pze2xsj6Zp-W6uzgkZtoqvJESdHhcHANK-73FrxwxgVycpHuuqkrzY035TY8wNGVxcJ~4tXT8r3wdHJ5np2IN7sEBQ-w6fpiC6vfQ02SwxjNcLzrTQxMOMLcEA2nFUrA-A__) center/cover;


}
.list2{
    
    position: relative;
    left: 33%;
}
.third-image{
    background: url(https://s3-alpha-sig.figma.com/img/acf1/4a99/f235afb5c274160825f9a4e0bde57cb9?Expires=1714348800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=U5fa7TlSJWnmW14GywgSv-uxjEZYFQhXu9bp~wVPWbPNHUWayVkS5CC5L0C1zkAOpQISL3C6LN4GwnPx6lF3Vse5-FQ~2XnL7epdnjev4pFd7CX0Ec3jfLhsW6JPLkvzWUl7ne5gK8G6QwGqtn55IdfiFaYFN1tgDXQHGR77quQsaGgotUWFYjyAtqa6cNgTXdbndQUVTStAnAKl0VGvd6fUU-0YGHUbOlcHh5XTfvcQ-hOhZdS7k-J8iTcZAbPi~Ae9479mxOVABjXOpqtcq7vk8M47diPYZJDqIXo1wBuULWTJ5xwn4URaf34KVUEX~pWvArzQxQmy4nDjWtRG0A__) center/cover;
}

.Request-a-Demo{
    background-color:#298EA6;
    border: 1px solid #298EA6;
    padding:  12px, 20px, 12px, 20px;
    border-radius: 8px;
    width: 172px;
    height: 46px;
    color:white;
    font-family: 'Urbanist', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 21.6px;
    display: block;
    margin: 0 auto; 
    margin-top: 64px;
}
/* .quote{
    margin-left: auto;
    margin-right: auto;
    width: 90%;

    
    display: flex;
} */
.quote-list{
    width: 720px;
}

.quote-list li:nth-child(2){

    color:#4C606E;
    font-family: 'Urbanist', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 32px;

}
.quote-list li:nth-child(3){

   
    margin-bottom: 38px;}
.quote-list li:nth-child(4){

   
    color:#063248;
    font-family: 'Urbanist', sans-serif;
    font-weight: 700;
    font-size: 38px;
    margin-bottom: 23px;
    line-height: 57px;}

    .quote-list li:nth-child(5){
display: flex;
align-items: center;
justify-content: space-between;
        color:#4C606E;
        font-family: 'Urbanist', sans-serif;
        font-weight: 500;
        position: relative;
        bottom: 18px;
        font-size: 24px;
        line-height: 36px;}
.quote-image{
    background: url(https://s3-alpha-sig.figma.com/img/6705/b71b/5b113a3e7ebce90cfdbd3e6aab6d3a36?Expires=1714348800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Jp0SDmCbeooaUrGOrDW3nz8kMlMMa3BQtXX109DThlH2rcNLWr-lwKRwEuKxwFC5ISjVlyVkekCB8036hOezzDjAwJr1yRqBP2NGHDrUpVW4treIWr~Oe7~dC6mzEYIDSfXjR8hgHynjhRwZwNe7i-o2xD-~DXlIUmNo9m3-WZkD8GGESt6DJ3GF-jQNf7brOWWI~rGYWGQfYj53wVoDzzb2CEPyVhfyZhyF8efBBrwdL6D6OT9pTFUISPglxUIby4S4eW7oreemEcLnMcwK4qmpWvdxPAFe2F02KfuJNUF7vK9u1X0wMaqUnOG1KSgz5xPdX2AAJLCKeJOKj2u0Qg__) center/cover;
    width: 426px;
    height: 379px;
    border-radius: 8px;
    
}
/* .quote-vector{
    position: relative;
    left: 45%;
    top: 10px;
    
} */

.Our-Testimonials-list{
   
    width: 338px;
    margin-left:46px ;
}
.Our-Testimonials-list li:nth-child(1)
{
margin-top: 30px;    

}
.Our-Testimonials-list li:nth-child(2){
    margin-top: 40px;
  
    color:#4C606E;
    
    font-family: 'Urbanist', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 45px;
}
.Our-Testimonials-container{
    display: flex;
    margin-left:46px ;
    margin-top: 20px;

    
}
.Our-Testimonials-container p{
    position: relative;
    top: 15px;
    left: 10px;
    color:#063248;
    
    font-family: 'Urbanist', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}
.Testimonials-img{
    background:url(./images/testimals.png) center/cover;
    width: 50px;
    height: 50px;
    border-radius: 8px;
}
.Our-Testimonials-cards{
    margin-bottom: 64px;
}
.btn-container{
    display: flex;
    justify-content: center;

}
.faq{
    width: 90%;
    margin-top: 86px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 89px;
  

}
.faq-heading li:nth-child(1){
    color:#063248;
    
    font-family: 'Urbanist', sans-serif;
    font-weight: 700;
    font-size: 38px;
    line-height: 56px;
    margin-bottom: 6px;
}
.faq-heading li:nth-child(2){
    color:#4C606E;
    
    font-family: 'Urbanist', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    
}



.accordion{
   
    margin-top: 64px;

    color: black;
    padding-top: 48px;
    padding-bottom: 48px;
    border-radius: 20px;
    background-color:#E3F1F4 ;
    display: flex;
}
.accordion .contentBx{
   
    border-radius: 16px;
    position: relative;
    margin: 12px 27px  12px 27px;
    width: 593px;
    
   
    
}
.accordion .contentBx .label{
    position: relative;
    border-radius: 16px;
    
    padding: 50px 30px;
    background: #FFFFFF;



    /*typography*/
    color:#063248;
    font-family: 'Urbanist', sans-serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
}
.accordion .contentBx .label::before{
    content: '+';
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    background: #E3F1F4;
   
    color: #4C606E;
    padding: 5px 14px;
    border-radius: 8px; 
}
.accordion .contentBx.active .label::before{
    content: '-';
    background: #298EA6;
   color: #FFFFFF;
    margin-top: 16px;
    padding: 5px 14px;
    border-radius: 8px;

}
.accordion .contentBx .content{
    position: relative;
    background: white;
    height: 0;
    overflow: hidden;
    transition: 0.5s;

    color:#6F6C90;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}
.accordion .contentBx.active .content{
    height: 150px;
    border-radius: 0px 0px 10px 10px;
    padding: 0px 30px ;

}
.accordion .contentBx.active .label{
   
    border-radius: 10px 10px 0px 0px;
    
    padding: 50px 30px 5px 30px;
   
}

.left-accordion{
    
    width: 55%;
}

footer{
    
   padding-top: 40px;
   padding-bottom: 40px;
    background-color: #063248;
}
footer nav{
    
    display: flex;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
footer nav ul{
    display: flex;
    position: relative;
   
    width: 370px;
    justify-content: space-between;
    font-size: 18px;
    font-family: 'Urbanist', sans-serif;
    font-weight:  500;
    line-height: 21.6px;
    
    
}
footer nav ul a{
    text-decoration: none;
}
footer nav .sub-containerr{
    font-size: 16px;
    font-family: 'Urbanist', sans-serif;
    font-weight:  600;
    line-height: 24px;
    display: flex;
    width: 130px;
   
    justify-content: space-between;
    align-items: center;
}
footer .container{
    width: 90%;
    padding: 14px;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    background: #298EA6;
    justify-content: space-around;
    
}
.container p{
    position: relative;
    right: -8%;

    font-size: 14px;
    font-family: 'Urbanist', sans-serif;
    font-weight:  400;
    line-height: 21px;
}
.reach-us{
    
    display: flex;
   
   
}
.reach-us li:nth-child(2){
   left: -15%;
    position: relative;
}
.reach-us li:nth-child(3){
    left: -11%;
     position: relative;
 }